.codex-editor__redactor {
  padding-bottom: 100px !important;
}

.ce-delimiter:before {
  content: "_________________________________________________________________________________" !important;
  font-size: 0.875rem !important;
  line-height: 1rem !important;
  height: 2rem !important;
  letter-spacing: 0 !important;
  color: #a1a1aa;
}

.tc-add-row {
  display: none !important;
}

.tc-wrap{
  --color-border: #e8e8eb00 !important;
}

.ce-block__content {
  font-family: sans-serif;
  font-size: 0.875rem;
}

@media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1rem;
  }
}

.ce-paragraph {
  padding: 0;
}

.image-tool__image {
  width: 190px;
  height: 60px;
  border: none;
}

.cdx-input.image-tool__caption {
  display: none;
}

button {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  :hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
}

/* Style the sidebar */
.sidebar {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: #3e3e3e;
  color: #fff;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

/* Style the content container */
.content {
  margin-left: 250px; /* Width of the sidebar */
  padding: 20px;
}

/* Style links in the sidebar */
.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

/* Add some hover effect to the links */
.sidebar a:hover {
  background-color: #555;
}
